<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly-button biodiversity!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- <link rel="stylesheet" href="../styles.css"> -->

</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Belly Button Biodiversity</h1>
    <div class="row">

      <div class="col-sm-4" >
        <!-- <p>Lorem ipsum...</p> -->
        <div id="selection">Select a sample:
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <!-- <div id="sampleMetadata">
      
        </div> -->
      </div>

      <div class="col-sm-4" >
        <p id="sampleMetadata">

        </p>
      </div>

      <div class="col-sm-4">
        <div id="pie"></div>
      </div>

    </div>
      <!-- <div class="row"> -->
        <div  id="bubble">
          <!-- <div id="bubble"></div> -->
        </div>
      <!-- </div> -->
    
  <script src="../static/index.js"></script>
</body>

</html>